<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/unicarioca</property>
    <property name="connection.username">alunobd</property>
    <property name="connection.password">unicarioca</property>
    <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <property name="show_sql">false</property>
    <property name="use_sql_comments">false</property>
    <property name="org.hibernate.transaction">false</property>
    <property name="show_sql">true</property>
    <property name="hibernate.format_sql">false</property>
    <property name="current_session_context_class">thread</property>
    <mapping resource="pacote/Pessoa.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
